.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('/img/logo-nugroho-aditya-4042a3153fcd7d13d0479d9aa006dfe761a73041fd0b777b4d867cc777b05956.gif') 50% 50% no-repeat rgb(249,249,249);
}